/* reset */
article, aside, footer, header, hgroup, main, nav, section{display:block}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
body{background:#fff}
body,th,td,input,select,textarea,button{font-size:14px;line-height:1.5;font-family:Helvetica,Arial,'Apple SD Gothic Neo','Malgun Gothic','맑은 고딕',sans-serif;color:#555;word-break:break-all}
a{color:#111;text-decoration:none;cursor:pointer}
a:active, a:hover{text-decoration:underline}
a:active{background-color:transparent}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
img{vertical-align:top}
strong, b, th, h1, h2, h3, h4, h5, h6{font-weight:600}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner{padding:0;border:0}

/*
  본문
**/
body{background-color:#2c3036}
label{cursor:pointer}
#header{font-size:30px;padding:24px 0 24px 21px;text-align:center;color:whitesmoke}
#stageName{background-color: #E0E0E0; font-size:20px;color: #2c3036}
#champion{overflow: hidden; margin-bottom: 30px;}
#champion .ideal{float: none;margin: 0 auto;border: none;cursor: auto;}
#prevButton{
  display: block;
  width: 120px;
  height: 30px;
  margin-bottom: 30px;
  background: #3498db;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#prevButton.disabled{cursor:auto; background: gray; color: #555}
.wrapper{width:1000px;margin:0 auto;overflow:hidden;padding:30px 0;border-top:1px solid #E0E0E0;border-bottom: 1px solid #e0e0e0;}
.matchWrapper{width: 800px;margin: 0 auto}
.ideal {width: 290px; height: 350px;float:left;padding:20px 0;margin:0 50px;background-color:#E0E0E0; cursor: pointer;}
.ideal:hover {border:3px solid red;border-style: outset}
.ideal.selected {border:3px solid red;}
.ideal img {width: 100%}
.ideal .title {text-align: center; font-size: 20px}
.hide {display:none;}
.stageResult{float:left;padding: 5px;background-color: gray; color: white; margin-right:8px}
.item.win{background-color: red}